<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%if user_signed_in? and current_user.role == 'admin' then %>
  <h3>Upload daily report</h3>
  <%= form_tag({action: :upload_items}, multipart: true) do %>
    <%= file_field_tag 'excel' %>
    <%= submit_tag("upload") %>
  <% end %>
<% end %>
