<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='table table-striped table-condensed' style="width:600px">
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><%= f.label(:origin) %></td>
      <td>
        <%= f.select(:origin, [], {}, {class: "form-control"}) do %>
          <% Item.countrys.each do |c| -%>
            <% if c[0]==@item.origin then %>
              <%= content_tag(:option, c[1], value: c[0], title: c[2], selected: 'selected') %>
            <% else %>
              <%= content_tag(:option, c[1], value: c[0], title: c[2]) %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label(:unit_retail, 'Unit Retail/(Current Price)') %></td>
      <td><%= number_to_currency(@item.unit_retail)%></td>
    </tr>
    <tr>
      <td><%= f.label(:price_ceiling) %></td>
      <td><%= number_to_currency(@item.price_ceiling) %></td>
    </tr>
    <tr>
      <td><%= f.label(:proposed_price)%></td>
      <td><%= f.text_field(:proposed_price) %></td>
    </tr>
    <tr>
      <td><%= f.label(:proposed_price_ceiling) %></td>
      <td><%= f.text_field(:proposed_price_ceiling) %></td>
    </tr>
  </table>

  <table class='table table-striped table-condensed' style="width:600px">
    <tr>
      <th>Type</th>
      <th>Image</th>
      <th>Delete</th>
    </tr>

    <%= f.fields_for :photos do |photo| %>
      <tr>
        <td>
          <label class="radio-inline">
            <%checked = photo.object.photo_type == 'Primary' ? 'checked' : '' %>
            <input type="radio" name="radioPrimary" value="<%=photo.object.id%>" <%=checked%> >
            Primary
          </label>
          <%= photo.hidden_field :photo_type, :class=>'photo_type' %>
        </td>
        <td><%= image_tag photo.object.image.url(:thumb) %></td>
        <td><%= link_to 'Destroy', item_photo_path(@item, photo.object), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </table>
  <%= f.submit :class=>"btn btn-primary" %>
<% end %>

<br/>

<%= form_for(@item) do |f| %>
  <%= f.fields_for :photos, @item.photos.build do |photo| %>
    <tr>
      <td><%= photo.text_field :photo_type %></td>
      <td>
        <label class="btn btn-primary" for="item_photos_attributes_<%=photo.index%>_image">
          <%= photo.file_field :image, :style=>'display:none;', :onchange=>'fileSelected(this)' %>
          Choose the Photo
        </label>
        <span id="upload-file-info"></span>
      </td>
      <td><img id="imgPreview" style="width: 100px;"/></td>
    </tr>
  <% end %>
  </table>
  <%= f.submit 'Upload', :class=>"btn btn-primary" %>
<% end %>
