<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class='table table-striped table-condensed' style="width:600px">
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Country of Origin</td>
      <td>
        <%= f.select(:origin, :selected => 'CA') do %>
          <% Item.countrys.each do |c| -%>
            <% if c[0]==@item.origin then %>
              <%= content_tag(:option, c[1], value: c[0], title: c[2], selected: 'selected') %>
            <% else %>
              <%= content_tag(:option, c[1], value: c[0], title: c[2]) %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Current Price</td>
      <td><%= number_to_currency(@item.unit_retail) %></td>
    </tr>
    <tr>
      <td>Proposed Price</td>
      <td><%= f.text_field(:proposed_price) %></td>
    </tr>
  </table>

  <%= f.submit %>

<% end %>
