<%= content_for(:body_attributes) do %>data-no-turbolink<% end %>
<p id="notice"><%= notice %></p>

<table class='table table-striped table-condensed' style="width:400px">
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Country of Origin</td>
    <td><%=@item.origin%></td>
  </tr>
  <tr>
    <td>Current Price</td>
    <td><%= number_to_currency(@item.unit_retail) %></td>
  </tr>
  <tr>
    <td>Proposed Price</td>
    <td><%= number_to_currency(@item.proposed_price) %></td>
  </tr>
</table>

<%@item.photos.each do |photo|%>
  <%= image_tag photo.image.url(:thumb) %>
<%end%>

<%=link_to 'Edit', edit_item_path(@item), :class=>"btn btn-primary", :role=>"button"%>
<%=link_to 'Print', print_item_path(@item), :class=>"btn btn-primary", :role=>"button" %>
<%=link_to 'Back', items_path, :class=>"btn btn-primary", :role=>"button" %>
